@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color:black;
  background:white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Customize highlight (selection) color */
::selection {
    background-color: #4a90e2; /* Change background color */
    color: #ffffff; /* Change text color */
  }
  
  @media (prefers-color-scheme: dark) {
    /* Customize highlight for dark mode */
    ::selection {
      background-color: #333333; /* Darker background for dark mode */
      color: #ededed; /* Lighter text color for dark mode */
    }
}